.products-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.products-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
  justify-content: center;
}

.product-link {
  text-decoration: none;
}

.product-card {
  width: 150px !important; /* Ant Design Card default width override */
}

.product-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.product-title {
  margin-bottom: 8px;
}

.product-price,
.product-description,
.product-category {
  margin: 4px 0;
  color: #333;
}

.priceP{
  color: #4096ff;
}

.product-card {
  border: 1px solid #4096ff !important;
  border-radius: 10px; /* İstəsən, radius da ver */
}