.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(0 0 0 / 2%);
}

.email-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;  
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 10px;
}

.login-button{
    margin: 10px 74px;   
}
.email-input{
    background: #4096ff;
    color: #fff;
    height: 20px;
    border: none;
    border-radius: 5px;
}

.username-input{
    background: #4096ff;
    color: #fff;
    height: 20px;
    border: none;
    border-radius: 5px;
}

