.add-product-form{
    display: flex;
    flex-direction: column;
    height: 600px;
    gap: 20px;
}


.form-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
}