.cart-container {
  padding: 20px;
}

.cart-title {
  margin-bottom: 20px;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.cart-card {
  width: 150px !important; /* Ant Design Card default width override */
}

.cart-image {
  height: 100px;
  object-fit: cover;
}

.cart-quantity-info {
  margin-top: 10px;
}

.cart-total-price {
  margin-top: 20px;
}

.empty-cart {
  font-size: 18px;
  color: #666;
}

.ant-card-body{
  overflow:scroll !important;
  height: 182px !important;
}

.product-card {
  border: 1px solid #4096ff !important;
  border-radius: 10px; /* İstəsən, radius da ver */
}